<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>877949302037-k3420c5kdrc2ns0k3lk9bpq0n7qkoshe.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.877949302037-k3420c5kdrc2ns0k3lk9bpq0n7qkoshe</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>877949302037-m3eps4l8pfdaga85n4bg413pn16u71tn.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD_XDDVvQz0WKVllM0eE1IrIl33Cr1ogD4</string>
	<key>GCM_SENDER_ID</key>
	<string>877949302037</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.name.playgen</string>
	<key>PROJECT_ID</key>
	<string>playgen-90049</string>
	<key>STORAGE_BUCKET</key>
	<string>playgen-90049.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:877949302037:ios:4988e6b30c75f5d56ea51c</string>
</dict>
</plist>